/* -- modules/_base.css -- */


html {
    font-size: 1em;
    line-height: 1.5;
    overflow-y: scroll;
    box-sizing: border-box;
    color: var(--txt-color);
}

html,
body {
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: var(--selection-color);
    text-shadow: none;
}

::selection {
    background: var(--selection-color);
    text-shadow: none;
}

/* A better looking default horizontal rule */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--hr-color);
    margin: 1em 0;
    padding: 0;
}
