/* -- _config.css -- */


/* Custom properties */

:root {

    --aqua:    #7fdbff;
    --blue:    #0074d9;
    --navy:    #001f3f;
    --teal:    #39cccc;
    --green:   #2ecc40;
    --olive:   #3d9970;
    --lime:    #01ff70;
    --yellow:  #ffdc00;
    --orange:  #ff851b;
    --red:     #ff4136;
    --fuchsia: #f012be;
    --purple:  #b10dc9;
    --maroon:  #85144b;
    --white:   #fff;
    --silver:  #ddd;
    --gray:    #aaa;
    --black:   #111;

    --lt-gray: #f5f5f5;
    --dk-gray: #424242;

    --font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-serif:      Georgia, "Times New Roman", Times, serif;
    --font-mono:       Monaco, Menlo, Inconsolata, Consolas, "Courier New", monospace;

    --txt-color:       #222;
    --selection-color: var(--aqua);
    --hr-color:        var(--silver);

    --link-color: var(--blue);

}

/* Custom media queries */

/* @custom-media --bp-small (max-width: 480px); */
