<!doctype html>
<html class="no-js" lang="@@lang">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>Home | @@title</title>
        <meta name="description" content="@@description">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- Place favicon.ico in the root directory -->

        <!-- CSS & JS -->
        <!-- bundle:css assets/css/bundle.@@version@@min.css -->
        <link rel="stylesheet" href="assets/css/normalize@@min.css">
        <link rel="stylesheet" href="assets/css/main@@min.css">
        <!-- /bundle-->
        <script src="assets/js/libs/modernizr@@min.js"></script>
    </head>
    <body class="home">


        <div class="container">

            <h1>@@title</h1>
            <p>@@description</p>

            <ul>
                <li><a href="@@url" title="Home">Index Page</a></li>
                <li><a href="test.html" title="Test">Test Page</a></li>
                <li><a href="404.html" title="404">404 Page</a></li>
            </ul>

        </div><!-- ./.container -->


        <!-- JS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/@@vJQ/jquery@min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/js/libs/jquery@@min.js"><\/script>')</script>
        <!-- bundle:js assets/js/bundle.@@version@@min.js -->
        <script src="assets/js/main@@min.js"></script>
        <!-- /bundle -->

        <!-- Google Analytics -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','@@google.analytic_key','auto');
            // ga('set', 'anonymizeIp', true);
            ga('send','pageview');
        </script>
    </body>
</html>
